body {
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    height: 100px;
    width: 100%;
}

#sidebar {
    width: 30%;
    background-color: #3498db;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

#content {
    width: 70%;
    background-color: #ecf0f1;
    padding: 10px;
    box-sizing: border-box;
}
